{
    "semi":true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "all",
    "printWidth": 110,
    "tabWidth": 4,
    "arrowParents": "always",
    "endOfLine": "lf"
}